body {
    padding-top: 56px; /* Espacio para el menú de navegación fijo */
}

#perfil img {
    max-width: 100%;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
